  $version: "1.1.1";
  /* ---------------------
      IMPORT FILES
------------------------- */

  @import"variables";
  @import"fonts";
  @import"mixin";
  /* ---------------------
      IMPORT SECTIONS FILES
------------------------- */

  @import"preloader";
  @import "animation";
  @import "partials/_auth-form";
  @import"partials/navbar";
  @import"partials/header";
  @import "partials/_slider";
  @import "partials/subscribe";
  @import "partials/footer";
  /* ---------------------
        GENERAL
--------------------- */

  body {
    font-family: mainFontRegular;
    line-height: 1.2;
    background-color: $white;
    direction: rtl;
    overflow: auto;
    min-height: 100vh;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    text-align: right;
  }

  .owl-theme {
    direction: ltr !important;
  }

  .home {
    background-image: url("../images/home.svg");
    background-size: 109%;
    background-repeat: no-repeat;
    background-position: -66% 116%;
    @media (max-width: 1400px) {
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: -34% 116%;
    }
    @media (max-width:1100px) {
      background-image: none;
    }
  }

  .login {
    background-image: url("../images/loginBg.svg"); 
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: -160px 100%;
    @media(max-width: 1800px) {
      background-size: 85%;
      background-position: -65px 100%;
    }
    @media(min-width: 1699px) {
      background-size: 85%;
      background-position: -50px 100%;
    }
    @media(max-width: 1650px) {
      background-size: 100%;
      background-position: -160px 100%;
    }
    @media(max-width: 1380px) {
      background-size: 110%;
      background-position: -280px 100%;
    }
    @media(max-width: 1250px) {
      background-size: 120%;
      background-position: -280px 100%;
    }
    @media(max-width: 1200px) {
      background-image: none
    }
  }