  $version: "1.1.1";
  /* ---------------------
      IMPORT FILES
------------------------- */

  @import"variables";
  @import"fonts";
  @import"mixin";
  /* ---------------------
      IMPORT SECTIONS FILES
------------------------- */

  @import"preloader";
  @import "animation";
  @import"partials/navbar";
  @import"partials/header";
  @import "partials/_slider";
  @import "partials/footer";
  /* ---------------------
        GENERAL
--------------------- */

  body {
    font-family: mainFontRegular;
    line-height: 1.2;
    background-color: $white;
    direction: rtl;
    overflow: auto;
    height: 140vh;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    text-align: right;
  }
  .owl-theme{
    direction: ltr !important;
  }


  .home{
    background-image: url("../images/home.svg");
    background-size: 109%;
    background-repeat: no-repeat;
    background-position: -78% 109%;
  }